<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/phmtfke</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/kbjy2cd</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/mfzhf5z</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/p4ctgrt</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/kz86edv</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/m4q84pl</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/kz7fzq6</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/m9abac4</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/q453xdr</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/oojhhfq</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/owrdqwk</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/p4jqhjx</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/qhjvfyy</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/mm6dva6</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/n7y9k6c</string>
	</dict>
</array>
</plist>
