<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/phmtfke</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/kbjy2cd</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/mfzhf5z</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/p4ctgrt</string>
	</dict>
	<dict>
		<key>URI</key>
		<string>http://tinyurl.com/kz86edv</string>
	</dict>
</array>
</plist>
